/* .worklist {
  border: 1px solid blue;
} */
.worklist {
  width: 86%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f1f3f2;
}
